@model IEnumerable<CSEBookBank.Models.student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Registered Students</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fine)
        </th>
        <th>
            Issued Books
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fine)
        </td>
        <td>
            @Html.ActionLink("View Books", "RegisteredStudentBook", new { id=item.StudentName }) 
        </td>
    </tr>
}

</table>
