@model IEnumerable<CSEBookBank.Models.Book>

@{
    ViewBag.Title = "IssuedBooks";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>IssuedBooks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edition)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.IssuedTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedDate)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edition)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.IssuedTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedDate)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.ActionLink("Remind", "Reminder", new { id=item.BookID })
        </td>
    </tr>
}

</table>
